version: '3.0'

services: 
    tomcat1:
        container_name: tomcat_1
        build: 
            context: ./tomcat
            args: 
                index: ./index1.jsp
        volumes: 
            - ./tomcat/log1/:/usr/local/tomcat/logs
    tomcat2: 
        container_name: tomcat_2
        build: 
            context: ./tomcat
            args: 
                index: ./index2.jsp
        volumes: 
            - ./tomcat/log2/:/usr/local/tomcat/logs
    mynginx: 
        container_name: proxy
        build: 
            context: ./nginx
        ports: 
            - "80:80"
        volumes: 
            - ./nginx/log/:/var/log/nginx/
networks: 
    default:
        external: 
            name: devops